#title {
  margin: auto 25vw;
  width: 50%;
}

#title > span {
  font-size: max(4.2vw, 38px);
}

#selectField {
  margin: auto 26vw;
  width: max(44vw, 150px);
  height: 15vh;
}

#selectField > label + select {
  margin-bottom: 1.5vh;
}

#selectField > label,
#filterSelect > label,
#filterSelect #form-check > label {
  font-size: max(1.2vw, 16px);
  font-weight: normal;
}
#professor,
#student,
#curso-select,
#sort-select {
  font-size: max(1.2vw, 12px);
}

#filterSelect > select {
  width: 15vw;
  display: inline-block;
}

#filterSelect #form-check {
  width: 10vw;
  margin-left: 3vw;
  display: inline-block;
}

.form-check-input {
  width: 2.3rem !important;
  height: 1.3rem !important;
  margin-top: 0.9vh !important;
  margin-right: 2px !important;
  outline: none !important;
}

#choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15rem;
}
#teacher_link {
  margin-right: 3rem;
}

#teacher_link a,
#student_link a {
  font-size: 80px;
  text-decoration: none;
  min-width: 25rem;
  color: #d6dee1;
}


#dataShow,
#counter {
  margin: 5px auto;
  max-width: 90%;
}

#counter > label,
#countProfessor {
  font-size: 18px;
  font-weight: 300;
}

#dataShowerBody, #studentDataShowerBody {
  cursor: pointer;
}

#table-content {
  margin-top: max(6vh, 49px);
}

table > tbody > tr > td + td + td {
  font-size: xx-large;
  text-align: left;
  min-width: 20px;
}

table > #studentDataShowerBody > tr > td {
  font-size: medium;
  text-align: left;
}
table > #studentDataShowerBody > tr > td + td {
  padding-top: 6px;
}

table > #studentDataShowerBody > tr > td + td + td {
  padding-top: 6px;
  min-width: 20px;
}

.tableFixHead {
  overflow: auto;
  height: 100px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.my-custom-scrollbar {
  position: relative;
  height: 46.7vh;
  overflow: auto;
}
.student-scrollbar {
  position: relative;
  height: 30vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.loader {
  display: none;
  margin: auto;
  width: 80px;
  height: 80px;
  border: 16px solid white;
  border-top: 16px solid #bada55;
  border-radius: 50%;
}

.spin {
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}
.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

#styledBody {
  background: #2c3e50;
}

#previousDiv > a{
  display: inline-flex;
  padding: 16px 48px;
  font-size: 3ch;
  margin-left: calc(50vw - 82px);
  margin-bottom: 4vh;
  text-decoration: none;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}
.round {
  border-radius: 20px;
}